/* contact.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background: rgb(2, 2, 2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =================== CONTACTOS =================== */

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 130px; /* espaço abaixo do header fixo */
  padding-bottom: 40px;
  min-height: calc(100vh - 100px); /* ocupa altura restante da viewport */
}

.contactos-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  padding: 40px 20px; /* Espaçamento vertical e horizontal */
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mapa {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.mapa iframe {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  border: 2px solid #9ce69c;

  border-radius: 8px;
  transition: all 0.3s ease;
}

.mapa iframe:hover {
  border: 2px solid #9ce69c;
  transform: scale(1.01);
}

.contactos {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  max-width: 600px;
  width: 100%;
  border: 2px solid #9ce69c;
  transition: transform 0.3s ease;
}

.contactos p {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

.contactos p i {
  color: #84c98c;
  margin-right: 10px;
  font-size: 1.2rem;
}

/* =================== RESPONSIVE =================== */
@media (max-width: 992px) {
  .header {
    padding: 20px 40px;
  }
}

@media (max-width: 600px) {
  .mapa iframe {
    height: 250px;
  }

  .contactos {
    padding: 16px 20px;
  }

  .contactos p {
    font-size: 16px;
  }
}
